<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- Bootstrap CDN -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/demo.css}">
<title>Employee List</title>
</head>
<body>
	<h3 class="ml-2 text-center">Employee Directory</h3>
	<hr>
	<div class="inline mb-3">
		<a th:href="@{/api/employees/showFormForAdd}"><button
			class="btn btn-primary btn-sm mr-5 ml-5">Add Employee</button></a>
			<form action="#" th:action="@{/api/employees/search}" method=POST class="float-right mr-5">
				<input type="search" name="firstName" placeholder="First Name"/>
				<input type="search" name="lastName" placeholder="Last Name"/>
				<button class="btn btn-sm btn-primary" type="submit">Search</button>
			</form>
	</div>
	<table class="table table-striped align-table mx-auto">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th colspan=2>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempEmployee: ${employeeList}">
				<td th:text="${tempEmployee.firstName}" />
				<td th:text="${tempEmployee.lastName}" />
				<td th:text="${tempEmployee.email}" />
				<td><a
					th:href="@{/api/employees/showFormForUpdate (employeeId=${tempEmployee.id})}"><button
							class="btn btn-info">Update</button></a></td>
				<td>
					<form action="#" th:action="@{/api/employees/deleteEmployee}" method=POST>
						<input type="hidden" name="employeeId" th:value="${tempEmployee.id}" />
						
						<button onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>